## Visual Studio: Arquivos de compilação e binários
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/

## Visual Studio: Arquivos de configuração local do usuário
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## SQL Server / LocalDB (Se existirem)
*.mdf
*.ldf

## Outros arquivos temporários
*.log
*.tmp
*.bak